body{
  background-color: aqua;
}
.counter{
  display:block;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.container{
  width:max-content;
  height:fit-content;
  margin: auto;
  margin-top: 40px;
}
.addcounter{
  background-color: rgba(110, 110, 110, 0.3);
  padding: 20px;
  border: 2px solid rgb(141, 133, 133);
  border-radius: 30px;
  color: rgba(73, 69, 69, 1);
  font-weight: bold;
  transition: 0.2 ;
}
.addcounter:hover{
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(41, 38, 38, 1);
  color: #cdcdcd;
}